body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3; /* Change the background color to your desired color */
}

.container {
    text-align: center;
    background-color: #ffffff; /* Add a background color to the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#getFoxBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#foxImage {
    max-width: 100%;
    margin-bottom: 10px;
}

#factText {
    font-size: 18px;
    color: #333;
}
